/* general app styling */
.App {
  text-align: center;
  /* background-color: #001140; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.border-box {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color-primary);
}

button:hover {
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

:root {
  /* height: 100vh; */
  --background-color-primary: #001140;
  --header-font-size: 18px;
  --light-font-color: #85bb65;
  --logo-color-blue: #00adef;
  --logo-color-turquoise: #5ce1e6;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
