.art-container {
  height: 700px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 60px;
  border-radius: 5px;
}

.art-header {
  background-image: url("../logos/bag_n_tag.png");
  height: 400px;
  margin-bottom: 100px;
}

.art-body {
  background-color: white;
  display: flex;
  flex-direction: row;
  height: 650px;
}

.art-body-right {
  width: 500px;
}

.art-logo {
  height: 200px;
  width: 200px;
  border-radius: 5px;
  margin-left: 100px;
  background-color: lightgrey;
  /* margin-bottom: 30px; */
  /* display: flex;
  justify-content: center; */
  /* flex-direction: row;
  align-items: center; */
}

.art-background-img {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 460px;
}

.info {
  display: flex;
  flex-direction: row;
  font-weight: bold;
}

.art-subheader {
  color: white;
  text-align: left;
  padding-left: 100px;
  /* display: flex; */
}

.art-card {
  border-radius: 5px;
  margin: 10px;
  width: 250px;
  height: 350px;
  background-color: white;
  color: #001140;
  overflow: hidden;
}

.shop-art-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.art-card-img {
  width: 650px;
  height: 650px;
  /* width: 100%;
  height: 100%; */
  border-radius: 5px;
  transition: .3s ease-in-out;
  position: relative;
  z-index: 1;
}

.art-card-img-container {
  width: 650px;
  height: 650px;
  overflow: hidden;
  /* position: absolute; */
}

.art-card-img:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.add-to-cart-art {
  width: 100%;
  height: 50px;
  /* display: none; */
  background-color: var(--light-font-color);
  font-weight: bold;
  color: white;
  border: none;
  /* position: relative;
  bottom: 0; */
}

.add-to-cart-art:hover {
  opacity: .9;
}

.art-card-details {
  padding-left: 15px;
  color: var(--background-color-primary);
  text-align: left;
  padding-top: 30px;
  /* background-color: lightgrey; */
  /* height: 60px; */
  /* justify-content: center; */
  display: flex;
  flex-direction: column;
  align-items: left;
  /* height: 100%; */
  height: 570px;
}
.art-card-detail {
  margin: 5px;
}
/* .item-card:hover + .add-to-cart {
  display: flex;
} */

.chain-symbol {
  height: 30px;
  width: 30px;
  margin: 10px;
  position: absolute;
  z-index: 2;
  color: lightgrey;
}

.filter-items {
  list-style-type: none;
}
