.bagtag-logo {
  border-radius: 5px;
}

.carousel-img {
  margin: 15px;
  height: 360px;
  width: 360px;
  transition: transform .2s;
}

.carousel-img:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.carousel-body {
  padding-left: 20px;
  padding-right: 20px;
}
