/* collections table on front page */
.collections-table-left {
  color: white;
  width: 700px;
  border: 2px solid white;
  font-weight: bold;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-bottom: 10px;
}

.collections-table-right {
  color: white;
  width: 700px;
  border: 2px solid white;
  font-weight: bold;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-bottom: 10px;

}

.collections-table-container {
  display: flex;
  justify-content: center;
}

.collections-table-headers {
  margin: 5px 0px 5px 0px;
  height: 50px;
}

.collection {
  height: 50px;
}

.collection-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
}

.collection-item-floor-price {
  align-items: center;
}

.collection-item-volume {
  align-items: center;
}

.collection-image {
  height: 75px;
  border-radius: 5px;
  margin-right: 10px;
}

#collection {
  text-align: left;
  padding-left: 20px;
}

.collection:hover {
  background-color: white;
  color: var(--light-font-color);
  cursor: pointer;
}
