/* main page styling */
.header-item {
  color: white;
  font-weight: bold;
  margin: 10px;
  font-size: var(--header-font-size);
}

.header-item-active {
  color: white;
  font-weight: bold;
  margin: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid white;
  font-size: var(--header-font-size);
}

.main-header {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-left: 40px;
}

.header-item:hover {
  color: var(--light-font-color);
  cursor: pointer;
}

.header-item-active:hover {
  color: var(--light-font-color);
  cursor: pointer;
}
