/* shopping collections container styling */
.shop-collection-header {
  background-image: url("../logos/bag_n_tag.png");
  height: 400px;
  margin-bottom: 100px;
}

.shop-collection-container {
  font-weight: bold;
}

.shop-collection-logo {
  height: 200px;
  width: 200px;
  border-radius: 5px;
  margin-left: 100px;
  background-color: lightgrey;
}

.shop-collection-background-img {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 460px;
}

.collection-info {
  display: flex;
  flex-direction: row;
  font-weight: bold;
}

.shop-collection-subheader {
  color: white;
  text-align: left;
  padding-left: 100px;
}

.collection-item-card {
  border-radius: 5px;
  margin: 10px;
  width: 250px;
  height: 350px;
  background-color: white;
  color: #001140;
  overflow: hidden;
}

.shop-collection-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.collection-item-card-img {
  width: 250px;
  height: 250px;
  border-radius: 5px;
  transition: .3s ease-in-out;
  position: relative;
  z-index: 1;
}

.collection-item-card-img-container {
  width: 250px;
  height: 250px;
  overflow: hidden;
}

.collection-item-card-img:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.add-to-cart {
  width: 100%;
  height: 40px;
  background-color: var(--light-font-color);
  font-weight: bold;
  color: white;
  border: none;
}

.add-to-cart:hover {
  opacity: .9;
}

.card-details {
  padding-left: 15px;
  color: var(--background-color-primary);
  background-color: lightgrey;
  height: 60px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.card-detail {
  margin: 2px;
}

.chain-symbol {
  height: 30px;
  width: 30px;
  margin: 10px;
  position: absolute;
  z-index: 2;
  color: lightgrey;
}

.filter-items {
  list-style-type: none;
}

.collection-item {
  display: flex;
  flex-direction: column;
}
